body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  #centered-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #downloadButton {
    display: none;
    font-size: 16px;
    padding: 12px 24px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #downloadButton:hover {
    background-color: #0056b3;
  }

  #nameInput {
    display: none;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #startText {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }
  #startText:hover {
    color: #007BFF; /* Change the color when hovering */
    cursor: default;
  }